name: Generate the SBOM and deploy it to GitHub Pages

on:
  push:
    branches: [Develop, main]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  generate-sbom:
    permissions:
      contents: write  # for peaceiris/actions-gh-pages to push pages branch
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
        with:
          fetch-depth: 0

      - name: Install Rust
        uses: actions-rs/toolchain@16499b5e05bf2e26879000db0c1d13f7e13fa3af # v1.0.7
        with:
          toolchain: nightly
          override: true

      - name: Install cyclonedx-bom
        run: cargo install cargo-cyclonedx

      - name: Generate SBOM XML
        run: |
          mkdir -p sbom
          cargo cyclonedx
          mv keysas-core/keysas-core.cdx.xml sbom/keysas-core.cdx.xml
          mv keysas-backend/keysas-backend.cdx.xml sbom/keysas-backend.cdx.xml
          mv keysas-io/keysas-io.cdx.xml sbom/keysas-io.cdx.xml
          mv keysas-fido/keysas-fido.cdx.xml sbom/keysas-fido.cdx.xml
          mv keysas-sign/keysas-sign.cdx.xml sbom/keysas-sign.cdx.xml
          mv keysas_lib/keysas_lib.cdx.xml sbom/keysas_lib.cdx.xml

      - name: Add XSLT to SBOM XML
        run: |
          for file in sbom/*.cdx.xml; do
            sed -i '1 a <?xml-stylesheet type="text/xsl" href="cyclonedx-to-html.xsl"?>' "$file"
          done

      - name: Generate index.html for SBOM
        run: |
          echo "<h1>Keysas auto-generated SBOM files</h1><ul>" > sbom/index.html
          for file in sbom/*.xml; do
            name=$(basename "$file")
            echo "<li><a href='$name'>$name</a></li>" >> sbom/index.html
          done
          echo "</ul>" >> sbom/index.html

      - name: Install Python + Sphinx
        run: |
          python3 -m pip install --upgrade pip
          pip install -r .github/requirements.txt

      - name: Build Sphinx docs
        run: |
          cd documentation/user_documentation
          sphinx-build -b html . _build/html

      - name: Copy SBOM and docs to output folder
        run: |
          BRANCH_NAME=$(echo "${GITHUB_REF##*/}" | tr '[:upper:]' '[:lower:]')
          mkdir -p output/$BRANCH_NAME
          cp -r sbom "output/$BRANCH_NAME/sbom"
          cp -r documentation/user_documentation/_build/html "output/$BRANCH_NAME/docs"
          
      - name: Copy index.html
        run: cp .github/assets/index.html output/index.html

      - name: Deploy on GitHub Pages
        uses: peaceiris/actions-gh-pages@373f7f263a76c20808c831209c920827a82a2847 # v3.9.3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./output
          keep_files: true
